@media only screen and (max-width: 1200px) {
    .row {
        width: 940px;
        margin: 0 auto;
    }

    .main-one-product img {
        width: 250px;
        height: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    .row {
        width: 740px;
        margin: 0 auto;
    }

    .all-heading {
        flex-direction: column;
        height: 150px;
        margin-top: 20px;
    }

    .main-products {
        justify-content: center;
    }

    .main-free-book-full {
        flex-direction: column;
        height: 980px;
    }

    .all-footer {
        flex-wrap: wrap;
        height: 780px;
    }

    .main-free-book-paragraph {
        text-align: center;
    }
}

@media only screen and (max-width: 840px) {
    .row {
        width: 540px;
        margin: 0 auto;
    }

    .all-heading {
        flex-direction: column;
        height: 150px;
        margin-top: 20px;
    }

    .main-one-product img {
        width: 520px;
        height: 570px;
    }

    .main-one-product {
        padding: 29px 10px;
    }

    

    .form {
        flex-direction: column;
    }

    .main-free-book-paragraph #input {
        width: 100%;
    }
}

@media only screen and (max-width: 590px) {
    .row {
        width: 450px;
        margin: 0 auto;
    }
    .all-heading {
        flex-direction: column;
        height: 150px;
        margin-top: 20px;
    }
    .all-footer {
        flex-wrap: wrap;
        height: 1100px;
    }

    .footer-logo-social {
        height: auto;
        padding: 30px;
    }

    .footer-quick-links {
        height: auto;
        padding: 30px;
    }

    .footer-our-services {
        height: auto;
        padding: 30px;
    }

    .footer-newsletter {
        height: auto;
        padding: 30px;
    }

    .main-free-book-img {
        width: 500px;
    }

    .main-free-book-img img {
        width: 340px;
    }

    .main-free-book-paragraph {
        width: 340px;
    }

    .main-one-product img {
        width: 320px;
        height: 370px;
    }
}