@media only screen and (max-width: 1200px) {
    /* ZÁKLADNÍ NASTAVENÍ */
    .row {
        width: 940px;
        margin: 0 auto;
    }

    /* (3 SEKCE)-PRODUKTY */
    .main-products {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 1160px) {
    /* (5 SEKCE)-PATIČKA-ODKAZY-EMAIL */
    .all-footer {
        flex-wrap: wrap;
        height: 760px;
    }

    .footer-logo-social {
        height: 257px;
        padding: 30px;
        width: 400px;
    }

    .footer-quick-links {
        height: auto;
        padding: 30px;
        width: 400px;
    }

    .footer-our-services {
        height: auto;
        padding: 30px;
        width: 400px;
    }

    .footer-newsletter {
        height: auto;
        padding: 30px;
        width: 400px;
    }
}

@media only screen and (max-width: 1000px) {
    /* ZÁKLADNÍ NASTAVENÍ */
    .row {
        width: 740px;
        margin: 0 auto;
    }

    /* (1 SEKCE)-LOGO-MENU-KOSIK */
    .all-heading {
        flex-direction: column;
        height: 150px;
        margin-top: 20px;
    }

    /* (3 SEKCE)-PRODUKTY */
    .main-products {
        justify-content: center;
    }

    .main-one-product img {
        width: 520px;
        height: 570px;
    }

    /* (4 SEKCE)-FREE BOOK */
    .main-free-book-full {
        flex-direction: column;
        height: 980px;
    }

    .main-free-book-paragraph {
        text-align: center;
    }

    /* (5 SEKCE)-PATIČKA-ODKAZY-EMAIL */
    .all-footer {
        flex-wrap: wrap;
        height: 760px;
    }

    .footer-logo-social {
        height: 257px;
        padding: 30px;
        width: 340px;
    }

    .footer-quick-links {
        height: auto;
        padding: 30px;
        width: 340px;
    }

    .footer-our-services {
        height: auto;
        padding: 30px;
        width: 340px;
    }

    .footer-newsletter {
        height: auto;
        padding: 30px;
        width: 340px;
    }
}

@media only screen and (max-width: 840px) {
    /* ZÁKLADNÍ NASTAVENÍ */
    .row {
        width: 540px;
        margin: 0 auto;
    }

    /* (1 SEKCE)-LOGO-MENU-KOSIK */
    .all-heading {
        flex-direction: column;
        height: 150px;
        margin-top: 20px;
    }

    /* (3 SEKCE)-PRODUKTY */
    .main-one-product {
        padding: 29px 10px;
    }

    /* (4 SEKCE)-FREE BOOK */
    .form {
        flex-direction: column;
    }

    .main-free-book-paragraph #input {
        width: 100%;
    }

    /* (5 SEKCE)-PATIČKA-ODKAZY-EMAIL */
    .all-footer {
        flex-wrap: wrap;
        height: 650px;
        align-content: center;
    }
}

@media only screen and (max-width: 700px) {
    /* (5 SEKCE)-PATIČKA-ODKAZY-EMAIL */
    .all-footer {
        flex-wrap: wrap;
        height: 1010px;
        align-content: center;
    }

    /* (5 SEKCE)-PATIČKA-ODKAZY-EMAIL */
    .footer-logo-social {
        height: auto;
        padding: 30px 10px 30px 0;
        width: 342px;
    }

    .footer-quick-links {
        height: auto;
        padding: 30px 10px 30px 0;
        width: 342px;
    }

    .footer-our-services {
        height: auto;
        padding: 30px 10px 30px 0;
        width: 342px;
    }

    .footer-newsletter {
        height: auto;
        padding: 30px 0;
        width: 342px;
    }
}

@media only screen and (max-width: 590px) {
    /* ZÁKLADNÍ NASTAVENÍ */
    .row {
        width: 450px;
        margin: 0 auto;
    }

    /* (1 SEKCE)-LOGO-MENU-KOSIK */
    .all-heading {
        flex-direction: column;
        height: 150px;
        margin-top: 20px;
    }
    
    /* (2 SEKCE)-NADPIS-ODSTAVEC-ROLICKA */
    .main-heading-paragprah-roll {
        width: 400px;
    }

    .main-heading-paragprah-roll h1 {
        font-size: 30px;
    }

    .main-heading-paragprah-roll p {
        font-size: 16px;
    }

    #my-roll {
        margin-left: 40px;
    }

    /* (3 SEKCE)-PRODUKTY */
    .main-one-product img {
        width: 320px;
        height: 370px;
    }

    /* (4 SEKCE)-FREE BOOK */
    .main-free-book-img {
        width: 483px;
    }

    .main-free-book-img img {
        width: 340px;
    }

    .main-free-book-paragraph {
        width: 340px;
        padding: 30px 10px;
    }

    .main-free-book-paragraph h2 {
        font-size: 24px;
    }

    .main-free-book-paragraph p {
        font-size: 16px;
    }


}